:root{
    --backgroundColor:#0a0e27;
    --divColor:#151B3D;
    --fontColor: #ffffff;
    --divfontColor:#9ca3af;
    --borderColor: rgba( 255, 255, 255, 0.1);
    --buttonBackgroundColor: rgba: rgba(77, 208, 225, 0.2);
    --buttonColor:  #4dd0e1;
}

*{
    box-sizing: border-box;
}

body {
    font-size: 18pt;
    display: flex;
    overflow: none;
    flex-direction: column;
    gap: 0.2em;
    padding-top: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./backgroundAyanokojiImage.jpeg);
   background-attachment: fixed;
}

#heading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 4;
}


h1{
    margin-top: 0;
    font-size: 3em;
    color: #030B3E;
    text-shadow: 2px 2px 5px var(--divColor);
}

small{
    font-size: 0.4em;
}

.content{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--divColor);
    color: var(--divfontColor);
    top: 5em;
    position: fixed;
    z-index: 4;
}

#input{
    border: 0;
    border-bottom: 1px solid var(--divfontColor);
    font-size: 1em;
    height: 1em;
    background-color: var(--divColor);
}

#input:focus{
    outline: 0;
    border: 0;
    border-bottom: 1px solid var(--divfontColor);
    color: var(--divfontColor);
}


button{
    border-radius: 5px; 
    background-color:  rgba(77, 208, 225, 0.2);
    transition: 0.2s;
    padding: 5px 10px;
    color: var(--buttonColor);
    height: 30px;
    width: fit-content;
}

button:focus{
    transition: 0.2s;
}

.tasks{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border-radius: 5px;
    gap: 0.5em;
    opacity: 0;
    width: 100vw;
    max-width: 100vw;
    position: fixed;
    top: 7em;
    overflow-y: scroll;
    max-height: 80vh;
}

.string{
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-between;
}

.taskColumn{
    display: flex;
    border: 1px solid lightgray;
    padding: 0.5em;
    padding-left: 0.3em;
    border-radius: 10px;
    gap: 5px;
    justify-content: space-between;
    
} 

.line{
    text-decoration: line-through;
}

.marked{
    background-color: slategray;
    filter: blur(0.5px);
    width: 100%;
    transition: width 1s ease-in-out;
    opacity: 0.7;
    position: relative;
    margin: 0;
    box-shadow: 0 0 4px dimgray;
}

.marked:active{
    width: 0%;
    transition: 1s ease-in-out;
}

.remove{
    left: 0.5em;
    width: fit-content;
    background-color: #ff5252;
    color: #fff;
    filter: blur(0);
}

.string{
    text-wrap: nowrap;
    overflow: none;
    text-overflow: ellipsis;
}

.popUp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: blur(0.1px);
    border-radius: 6px;
    z-index: 10;
    height: 200px;
    text-align: center;
    width: 250px;
    padding: 0.5em;
    color: white;
    visibility: hidden;
    flex-wrap: wrap;
    transition: transform 0.4s ease;
    background: transparent;
    backdrop-filter: blur(10px);
}

.popUp button{
    width: 70%;
    padding: 0.5em 0;
    height: fit-content;
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 4px;
    font-size: 18px;
    background-color:#E50808F0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}